<nav class="navbar">
    <a href="#" class="navbar-brand">Mi Aplicación</a>
    <button class="navbar-toggler" aria-label="Toggle navigation">
        &#9776;
    </button>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Clientes</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Pedidos</a>
        </li>
    </ul>
</nav>